html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; */
}

a {
  text-decoration: none;
}

.bs {
  margin-bottom: 80px;
}

section {
  padding-bottom: 100px;
}



.text-main {
  color: #3ccef9;
}

/* TITLE SEC */
.sec-title {
  position: relative;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #3ccef9;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.sec-title::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 80px;
  background-color: #3ccef9;
  border-radius: 40px;
}

/* BTN */
.btn-main {
  background: #001f41;
  border: 1px solid #001f41;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-main:hover,
.btn-main:active {
  background-color: initial;
  background-position: 0 0;
  color: #001f41;
}

.btn-main:active {
  opacity: .5;
}


/* paginate */

.w-5 {
  width: 4% !important;
}

.paginate-pro .flex {
  height: 5% !important;
}

.paginate-pro .text-sm {
  display: initial;
}

.paginate-pro nav>div {
  margin-bottom: 10px;
}

.paginate-pro nav p {
  display: inline-block !important;
}

.paginate-pro nav a:hover {
  color: #ff5400;
}

